<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">Dashboard</a>
</nav>

<div class="container-fluid h-100">
  <div class='row h-50'>
    <div class="column bg-gray">
      <h1>Questions: <%= @questions_count %></h1>
    </div>

    <div class="column bg-blue">
      <h1>Answers: <%= @answers_count %></h1>
    </div>
  </div>

  <div class='row h-50'>
    <div class="column bg-orange">
      <h1>Users: <%= @users_count %></h1>
    </div>

    <div class="column bg-green">
      <h1>Tenants: <%= @tenants_api_requets %></h1>
    </div>
  </div>
</div>